/*
 * Shield Overlay for: my_keyboard
 *
 * This file defines the matrix hardware based on your diagram.
 * It sets up the 15 electrical rows, 6 columns, and
 * the matrix_transform needed to map your 17 physical rows.
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &matrix_transform;
    };

    kscan0: kscan@0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";

        /*
         * !! CRITICAL PIN MAPPING !!
         *
         * You MUST check your PCB to see which "Row" and "Col" from
         * your diagram connect to which pin on the nice!nano.
         *
         * The example below is a SUGGESTION that uses 21 of the 22
         * available pins.
         *
         * &pro_micro <number> is the ZMK name for a nice!nano pin.
         * E.g., &pro_micro 21 is pin D0
         * &pro_micro 8  is pin A0
         */

        // 6 Columns from your diagram (Col 0-5)
        col-gpios =
            <&pro_micro 21>, /* Col 0 -> MAPPED TO D0 (P1.11) */
            <&pro_micro 20>, /* Col 1 -> MAPPED TO D1 (P1.10) */
            <&pro_micro 19>, /* Col 2 -> MAPPED TO D2 (P1.00) */
            <&pro_micro 18>, /* Col 3 -> MAPPED TO D3 (P0.10) */
            <&pro_micro 1>,  /* Col 4 -> MAPPED TO D4 (P0.09) */
            <&pro_micro 2>   /* Col 5 -> MAPPED TO D5 (P1.02) */
            ;

        // 15 *ELECTRICAL* Rows (pins labeled 0-14 in your diagram)
        row-gpios =
            <&pro_micro 3>,  /* Row Pin 0  -> MAPPED TO D6 (P1.04) */
            <&pro_micro 4>,  /* Row Pin 1  -> MAPPED TO D7 (P1.06) */
            <&pro_micro 5>,  /* Row Pin 2  -> MAPPED TO D8 (P0.06)  !! USES DISPLAY PIN !! */
            <&pro_micro 6>,  /* Row Pin 3  -> MAPPED TO D9 (P0.08)  !! USES DISPLAY PIN !! */
            <&pro_micro 7>,  /* Row Pin 4  -> MAPPED TO D10 (P0.12) !! USES DISPLAY PIN !! */
            <&pro_micro 8>,  /* Row Pin 5  -> MAPPED TO A0 (P0.02) */
            <&pro_micro 9>,  /* Row Pin 6  -> MAPPED TO A1 (P0.03) (Connects to Phys. Row 7 & 16) */
            <&pro_micro 10>, /* Row Pin 7  -> MAPPED TO A2 (P0.28) (Connects to Phys. Row 8 & 17) */
            <&pro_micro 17>, /* Row Pin 8  -> MAPPED TO A3 (P0.29) */
            <&pro_micro 16>, /* Row Pin 9  -> MAPPED TO A4 (P0.04) */
            <&pro_micro 15>, /* Row Pin 10 -> MAPPED TO A5 (P0.05) */
            <&pro_micro 14>, /* Row Pin 11 -> MAPPED TO A6 (P0.30) */
            <&pro_micro 13>, /* Row Pin 12 -> MAPPED TO A7 (P0.31) */
            <&pro_micro 12>, /* Row Pin 13 -> MAPPED TO A8 (P0.11) */
            <&pro_micro 11>  /* Row Pin 14 -> MAPPED TO A9 (P0.13) */
            ;
    };
    matrix_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <17>;
        columns = <6>;
        map = <
            /* Override for Physical Row 15 */
            /* This row is electrically connected to Row Pin 6 */
            /* Note: Col 0 is empty on this row */
            RC(15,1) KC(6,1) RC(15,2) KC(6,2) RC(15,3) KC(6,3) RC(15,4) KC(6,4) RC(15,5) KC(6,5)

            /* Override for Physical Row 16 */
            /* This row is electrically connected to Row Pin 7 */
            /* Note: Cols 2-5 are empty on this row */
            RC(16,0) KC(7,0) RC(16,1) KC(7,1)
        >;
    };
};
